// Main page styles come here.
// 
// Use this file to define the behaviour of your page elements.
body {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 600px;
  padding: 12px;
}

code {
  margin: 0;
}


/* breakpoint for tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #logo:after {
    content: "(iPad/tablet version)";
  }
}

/* breakpoint for smartphones */
@media only screen and (max-width: 480px) {
  #logo:after {
    content: "(smartphone version)";
  }
}
