// Main page styles come here.
// 
// Use this file to define the behaviour of your page elements.
// If this is the first time you opened this file you will see some styles for
// the demo page. We purchase a mobile first approach here.
body {
  margin: 0 auto;
  max-width: 1240px;
  padding: 10px;
}

#welcome {
  font-size: 3em;
  color: #82a47e;
}

#active-media-query:after {
  content: " (smartphones)";
}

/* breakpoint for tablets */
@media only screen and (min-width: 480px) {
  #active-media-query:after {
    content: " (tablets)";
  }
}

/* breakpoint for small displays */
@media only screen and (min-width: 720px) {
  #active-media-query:after {
    content: " (normal)";
  }
}

/* breakpoint for small displays */
@media only screen and (min-width: 960px) {
  #active-media-query:after {
    content: " (large)";
  }
}

/* breakpoint for small displays */
@media only screen and (min-width: 1240px) {
  #active-media-query:after {
    content: " (even larger)";
  }
}
