/* minimal multi-column layout - begin */
/* @todo(jboss): pixel -> percent for all colspan classes */
.page {
  position: relative;
  max-width: 680px;
  min-width: 500px;
  margin: 0 auto;
}

.cs_1, .cs_2, .cs_3, .cs_4, .cs_5, .cs_6,
.cs_7, .cs_8, .cs_9, .cs_10, .cs_11, .cs_12
{
  float: left;
  margin: 0px 1.5%;
  display: inline;
  position: relative;
}

.cs_1
{
  width: 60px;
}

.cs_2
{
  width: 24.25%; 
}

.cs_3
{
  width: 220px;
}

.cs_4
{
  width: 48.5%;
}

.cs_5 
{
  width: 380px;
}

.cs_6
{
  width: 72.75%;
}

.cs_7
{
  width: 540px;
}

.cs_8
{
  width: 100%
}

.cs_9
{
  width: 700px;
}

.cs_10
{
  width: 780px;
}

.cs_11
{
  width: 860px;
}

.cs_12
{
  width: 940px;
}

.fc
{
  margin-left: 0px;
}

.lc
{
  margin-right: 0px;
}

.clearer
{
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}

.clearfix:after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.fl {
  display: inline;
  float: left;
}

.fr {
  display: inline;
  float: right;
}
/* minimal multi-column layout - endof */


@media all and (max-width: 500px), screen and (max-device-width: 500px) {
  .cs_1, .cs_2, .cs_3, .cs_4, .cs_5, .cs_6,
  .cs_7, .cs_8, .cs_9, .cs_10, .cs_11, .cs_12
  {
    float: none;
    display: block;
    position: static;
    width: auto !important;
    margin: 0 !important;
  }
}