/*
 * - Internet Explorer up to version 7 does not define display property
 *   *block* for the new HTML5 elements.
 * - Moreover the new container *main* is displayed as block in IE11.
 */
/* line 25, modules/_unify.scss */
nav,
header,
hgroup,
footer,
article,
section,
summary,
figure,
figcaption,
aside,
details,
main {
  display: block;
}

/*****************************************************
 * GENERAL
 ****************************************************/
/* line 32, modules/_unify.scss */
html {
  font-family: sans-serif;
}

/*
 * Remove default margin
 */
/* line 40, modules/_unify.scss */
body {
  margin: 0;
  /*
   * Force vertical scrollbar in Firefox. This circumvents the problem of vertical hopping
   * when moving from a page with short content to one with a lot of content and a scrollbar.
   */
  height: 100%;
  margin-bottom: 1px;
}

/*
 * Optimize legebility for headlines. Currently only supported by Gecko and Webkit browsers.
 */
/* line 59, modules/_unify.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}

/* line 63, modules/_unify.scss */
pre {
  /* allow words to break between any two letters */
  word-break: break-all;
  /* make it wrap in all browsers */
  white-space: pre-wrap;
  /* allow long words to be able to break */
  word-wrap: break-word;
}

/*
 * reset default browser styles for del and ins
 */
/* line 76, modules/_unify.scss */
del,
ins {
  text-decoration: none;
}

/* line 80, modules/_unify.scss */
del {
  text-decoration: line-through;
}

/*
 * Older versions of Google Chrome and Safari by default have no
 * style for dfn. Set it explicitly to be consistent with other
 * browser (families).
 */
/* line 90, modules/_unify.scss */
em,
dfn {
  font-style: italic;
}

/* line 94, modules/_unify.scss */
code {
  font-family: monospace, sans-serif;
  font-size: 0.7em;
}

/*
 * Some older browsers render the abbreviations in small caps.
 * We do not want that! We pursuit for consistent visuals in all browsers.
 */
/* line 103, modules/_unify.scss */
abbr {
  border: 0;
  font-variant: normal;
}

/*
 * Beside Firefox and Opera (testet only in the current versions)
 * abbreviations containing a title attribute are not highlighted
 * at all.
 */
/* line 113, modules/_unify.scss */
abbr:not([title='']) {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 118, modules/_unify.scss */
hr {
  margin-bottom: 1.5em;
  height: 0px;
  border: 1px solid #ccc;
  width: 100%;
}

/*****************************************************
 * FIGURES AND IMAGES
 ****************************************************/
/*
 * Internet explorer by default draws a border in the link color
 * around images. This is ugly as sin!
 */
/* line 133, modules/_unify.scss */
img {
  border: 0;
}

/*
 * Add the 'responsive' class to make images responsive, i.e., to adapt their size
 * according to the elements size. The use of max-width instead of width ensures that
 * the image will not be rendered larger than it actually is.
 */
/* line 142, modules/_unify.scss */
img.responsive {
  max-width: 100%;
  height: auto;
}

/*
 * Address margin not present in IE 8/9 and Safari 5
 */
/* line 150, modules/_unify.scss */
figure {
  margin: 0;
}

/*****************************************************
 * TABLES
 ****************************************************/
/* line 158, modules/_unify.scss */
table {
  /* remove spacing between cells */
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 165, modules/_unify.scss */
th,
td {
  padding: 0;
}

/* line 170, modules/_unify.scss */
caption,
th {
  text-align: left;
  vertical-align: top;
}

/*****************************************************
 * LINKS
 ****************************************************/
/*
 * IE 10 renders an annoying gray background by default when
 * links are clicked.
 */
/* line 183, modules/_unify.scss */
a {
  background: transparent;
}

/* line 188, modules/_unify.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 192, modules/_unify.scss */
a:focus {
  outline: thin dotted;
}

/*****************************************************
 * FORMS
 ****************************************************/
/* line 204, modules/_unify.scss */
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0.1em;
}

/* line 215, modules/_unify.scss */
input,
button,
textarea,
select {
  font-size: 1em;
}

/* line 219, modules/_unify.scss */
label {
  vertical-align: top;
  font-weight: bold;
}

/*****************************************************
 * ADDRESS BUGS IN OLDER INTERNET EXPLORER
 ****************************************************/
/*
 * Solve IE/Win "disappearing list background bug"
 */
/* line 233, modules/_unify.scss */
ul,
ol,
dl {
  position: relative;
}

/*
 * Optimized "micro clearfix" hack (see http://nicolasgallagher.com/micro-clearfix-hack/)
 *
 * Addition of :before prevents top margins to collapse in modern browsers
 */
/* line 242, modules/_unify.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 4, modules/_util.scss */
.text-left {
  text-align: left;
}

/* line 8, modules/_util.scss */
.text-right {
  text-align: right;
}

/* line 12, modules/_util.scss */
.text-center {
  text-align: center;
}

/* line 16, modules/_util.scss */
.float-left {
  float: left;
  display: inline;
  /* fix float bug in IE <= 7 */
}

/* line 21, modules/_util.scss */
.float-right {
  float: right;
  display: inline;
  /* fix float bug in IE <= 7 */
}

/* line 26, modules/_util.scss */
.hidden {
  display: none;
}

/* line 30, modules/_util.scss */
.invisible {
  visibility: hidden;
}

/* line 34, modules/_util.scss */
.fixed {
  position: fixed;
}

/* line 38, modules/_util.scss */
.absolute {
  position: absolute;
}

/* line 4, lookandfeel/_page.scss */
#logo {
  color: #649b53;
  font-size: 300%;
  font-style: italic;
}

/* display version on demo page right after the logo */
/* line 11, lookandfeel/_page.scss */
#logo:after {
  content: "(desktop version)";
  display: block;
  font-style: italic;
  font-size: 40%;
  color: #6f6f6f;
}

/* line 19, lookandfeel/_page.scss */
body {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 600px;
  padding: 12px;
}

/* line 27, lookandfeel/_page.scss */
a:link,
a:visited {
  color: #649b53;
  text-decoration: none;
  border-bottom: 1px dotted #cfcfcf;
}

/* line 35, lookandfeel/_page.scss */
a:active,
a:focus,
a:hover {
  border-bottom: 0;
  color: #4f7f41;
}

/* line 40, lookandfeel/_page.scss */
code {
  margin: 0;
}

/* line 44, lookandfeel/_page.scss */
.inline-code {
  background: #cfcfcf;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  color: #6f6f6f;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0);
}

/* line 54, lookandfeel/_page.scss */
.hint {
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0);
  background: #cfcfcf;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 10px 12px;
}

/* line 59, lookandfeel/_page.scss */
pre {
  background: #cfcfcf;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 10px 12px;
}

/* line 63, lookandfeel/_page.scss */
figure table {
  margin: 0 auto;
}

/* line 68, lookandfeel/_page.scss */
table th, table td {
  padding: 5px 8px;
}

/* line 73, lookandfeel/_page.scss */
figure {
  text-align: center;
}

/* line 77, lookandfeel/_page.scss */
figcaption {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 8px;
}
/* line 81, lookandfeel/_page.scss */
figcaption b {
  font-style: normal;
}

/* line 86, lookandfeel/_page.scss */
.example-block {
  border-left: 5px solid #cfcfcf;
  padding-left: 10px;
}

/* breakpoint for tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 93, lookandfeel/_page.scss */
  #logo:after {
    content: "(iPad/tablet version)";
  }
}
/* breakpoint for smartphones */
@media only screen and (max-width: 480px) {
  /* line 100, lookandfeel/_page.scss */
  #logo:after {
    content: "(smartphone version)";
  }
}
@media print {
  /* set page margin on all sites (supported by Chrome 2.0+, IE 8.0+, Opera 6.0+ and Safari 5.0+) */
  @page {
    margin: 2cm 1.5cm;
}

  /*
   * override default background and foreground colors.
   */
  /* line 19, modules/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    text-align: justify !important;
  }

  /*
   * Set font to legible serif font and disable margins and padding
   * (margins are handled the @page directive above).
   */
  /* line 31, modules/_print.scss */
  body {
    font: 12pt Georgia, serif;
    line-height: 1.3;
    color: #000;
    background: #fff;
    /*  */
    margin: 0 !important;
    padding: 0 !important;
  }

  /*
   * Hide elements which are useless on paper.
   */
  /* line 48, modules/_print.scss */
  nav,
  video,
  audio,
  embed,
  object {
    display: none;
  }

  /*
   * Avoid page breaks after headlines.
   */
  /* line 60, modules/_print.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* set font family to "default" sans-serif web fonts */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, serif;
    page-break-after: avoid;
  }

  /*
   * Handle widows and orphans.
   * (currently supported by Chrome 25+, IE 8+, Opera 9.2+)
   */
  /* line 70, modules/_print.scss */
  p {
    orphans: 3;
    widows: 3;
  }

  /*
   * Restrict images to their maximal size but not bigger than the page width.
   */
  /* line 79, modules/_print.scss */
  img {
    max-width: 100% !important;
    border: 0;
  }

  /*
   * Best pratice: show URLs right after the link in braces.
   */
  /* line 88, modules/_print.scss */
  p a[href^="http://"]:after,
  p a[href^="https://"]:after {
    content: " (" attr(href) ")";
    font-size: 90%;
    font-style: italic;
    color: #e0e0e0;
  }

  /*
   * hide local anchors.
   * FIXME: Think about this! Maybe links inside a text are hidden and therefore
   * the entire sentence does not make any sense anymore.
   */
  /* line 101, modules/_print.scss */
  p a[href^="#"]:after,
  p a[href^="javascript"]:after {
    display: none;
  }

  /* line 105, modules/_print.scss */
  a {
    font-weight: bold;
    text-decoration: none;
  }

  /*
   * Allow overlong links to break and thus not to break the layout.
   */
  /* line 113, modules/_print.scss */
  a {
    word-wrap: break-word;
    color: #000;
  }

  /*
   * We cannot hover over abbreviations to see the title on paper.
   * Therefore append the title after the abbreviations.
   * Important: only non-empty titles are considered.
   */
  /* line 123, modules/_print.scss */
  abbr:not([title='']):after {
    content: " (" attr(title) ")";
  }

  /*
   * Specify type of quotes for quotation environments.
   */
  /* line 131, modules/_print.scss */
  q,
  blockquote {
    quotes: "\201E" "\201C" "\201A" "\2018";
  }

  /*
   * Append cite content of cite attribute to quotation environment.
   */
  /* line 138, modules/_print.scss */
  *[cite]:after {
    content: close-quote "(Source: " attr(cite) ")";
  }

  /* line 143, modules/_print.scss */
  q:before,
  blockquote:before {
    content: open-quote;
  }

  /* line 148, modules/_print.scss */
  q:after,
  blockquote:after {
    content: close-quote;
  }
}
