/*
 * ============================================
 * CSS normalization - v0.2
 * by Jakob Bossek - http://www.jakobbossek.de/
 * ============================================
 */
/*
 * - Internet Explorer up to version 7 does not define display property
 *   *block* for the new HTML5 elements.
 * - Moreover the new container *main* is displayed as block in IE11.
 */
/* line 24, unify.scss */
nav,
header,
hgroup,
footer,
article,
section,
summary,
figure,
figcaption,
aside,
details,
main {
  display: block;
}

/*****************************************************
 * GENERAL
 ****************************************************/
/* line 31, unify.scss */
html {
  font-family: sans-serif;
}

/*
 * Remove default margin
 */
/* line 39, unify.scss */
body {
  margin: 0;
}

/*
 * Optimize legebility for headlines. Currently only supported by Gecko and Webkit browsers.
 */
/* line 52, unify.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}

/* line 56, unify.scss */
pre {
  /* allow words to break between any two letters */
  word-break: break-all;
  /* make it wrap in all browsers */
  white-space: pre-wrap;
  /* allow long words to be able to break */
  word-wrap: break-word;
}

/*
 * reset default browser styles for del and ins
 */
/* line 69, unify.scss */
del,
ins {
  text-decoration: none;
}

/* line 73, unify.scss */
del {
  text-decoration: line-through;
}

/*
 * Older versions of Google Chrome and Safari by default have no
 * style for dfn. Set it explicitly to be consistent with other
 * browser (families).
 */
/* line 83, unify.scss */
em,
dfn {
  font-style: italic;
}

/* line 87, unify.scss */
code {
  font-family: monospace, sans-serif;
  font-size: 0.7em;
}

/*
 * Some older browsers render the abbreviations in small caps.
 * We do not want that! We pursuit for consistent visuals in all browsers.
 */
/* line 96, unify.scss */
abbr {
  border: 0;
  font-variant: normal;
}

/*
 * Beside Firefox and Opera (testet only in the current versions)
 * abbreviations containing a title attribute are not highlighted
 * at all.
 */
/* line 106, unify.scss */
abbr:not([title='']) {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 111, unify.scss */
hr {
  margin-bottom: 1.5em;
  height: 0px;
  border: 1px solid #ccc;
  width: 100%;
}

/*****************************************************
 * FIGURES AND IMAGES
 ****************************************************/
/*
 * Internet explorer by default draws a border in the link color
 * around images. This is ugly as sin!
 */
/* line 126, unify.scss */
img {
  border: 0;
}

/*
 * Add the 'responsive' class to make images responsive, i.e., to adapt their size
 * according to the elements size. The use of max-width instead of width ensures that
 * the image will not be rendered larger than it actually is.
 */
/* line 135, unify.scss */
img.responsive {
  max-width: 100%;
  height: auto;
}

/*
 * Address margin not present in IE 8/9 and Safari 5
 */
/* line 143, unify.scss */
figure {
  margin: 0;
}

/*****************************************************
 * TABLES
 ****************************************************/
/* line 151, unify.scss */
table {
  /* remove spacing between cells */
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 158, unify.scss */
th,
td {
  padding: 0;
}

/* line 163, unify.scss */
caption,
th {
  text-align: left;
  vertical-align: top;
}

/*****************************************************
 * LINKS
 ****************************************************/
/*
 * IE 10 renders an annoying gray background by default when
 * links are clicked.
 */
/* line 176, unify.scss */
a {
  background: transparent;
}

/* line 181, unify.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 185, unify.scss */
a:focus {
  outline: thin dotted;
}

/*****************************************************
 * FORMS
 ****************************************************/
/* line 197, unify.scss */
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0.1em;
}

/* line 208, unify.scss */
input,
button,
textarea,
select {
  font-size: 1em;
}

/* line 212, unify.scss */
label {
  vertical-align: top;
  font-weight: bold;
}

/*****************************************************
 * ADDRESS BUGS IN OLDER INTERNET EXPLORER
 ****************************************************/
/*
 * Solve IE/Win "disappearing list background bug"
 */
/* line 226, unify.scss */
ul,
ol,
dl {
  position: relative;
}

/*
 * Optimized "micro clearfix" hack (see http://nicolasgallagher.com/micro-clearfix-hack/)
 *
 * Addition of :before prevents top margins to collapse in modern browsers
 */
/* line 235, unify.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
